In [130]:
import numpy as np 
import pandas as pd
import json
import time
from xgboost import XGBClassifier

In [131]:
image_DF = pd.read_csv('/Users/aceman/Desktop/alia_image_output.csv', names=['name', 'objects'])
image_DF

,name,objects
0,11282291_1609483835957378_809911312_n.jpg,[]
1,11311605_837138039673108_1517937451_n.jpg,['person']
2,13380946_1724689691105516_1322109584_n.jpg,[]
3,24327145_315946858882599_2981304668950364160_n...,"['person', 'person']"
4,13642984_1780551925499216_1607342993_n.jpg,"['person', 'bed']"
5,10661273_327291767432333_956551592_n.jpg,"['person', 'person']"
6,10009262_1412500712345975_170675753_n.jpg,"['person', 'person']"
7,11349199_1684215511793981_603032242_n.jpg,"['person', 'person']"
8,26180822_164660364264804_5976841042748506112_n...,['person']
9,14711850_1762254324024711_6695055537094000640_...,"['person', 'person', 'couch']"
10,15624171_716312811883810_1676858577861476352_n...,['person']
11,47693759_353966158771413_5679574953948691850_n...,"['person', 'person']"
12,13248942_1610186329309583_447340470_n.jpg,"['cat', 'cup']"
13,18161330_413446319041532_931646713662275584_n.jpg,"['person', 'cat']"
14,13385764_1022187937865899_1335377373_n.jpg,"['person', 'person', 'person', 'person', 'pers..."
15,1170053_629913930364936_613750233_n.jpg,['person']
16,12950261_962812583836430_1772881109_n.jpg,['person']
17,42800722_1104369806406123_1593482629301457003_...,[]
18,22637546_1639711502716370_5548510564273094656_...,['person']
19,32285013_2542173359341399_5977956097862926336_...,['person']
20,15251668_1612250249070052_1114004071498383360_...,['person']
21,54732168_565820340577066_4011507919684273063_n...,"['person', 'boat', 'person']"
22,12345968_1673056019576936_959012752_n.jpg,"['person', 'person']"
23,13167168_1103188066408758_1360017962_n.jpg,"['person', 'person', 'person', 'person', 'pers..."
24,51365294_984868081901197_5052970947162590759_n...,['person']
25,12599044_206081416409681_1712272819_n.jpg,"['person', 'car']"
26,11357636_850557211689625_630745782_n.jpg,"['person', 'person']"
27,12940094_1140324349342974_799480875_n.jpg,['person']
28,13249749_1059749127432661_1612996543_n.jpg,['person']
29,12826275_1576362406019355_1029999262_n.jpg,"['person', 'person']"
...,...,...
1201,16788733_1910889329144683_8918691824290234368_...,"['person', 'person', 'person', 'person', 'pers..."
1202,13694709_291002767924040_99962369_n.jpg,['person']
1203,21576572_130372094256096_3592170621850615808_n...,"['person', 'person']"
1204,52051215_393739254750192_538582212311073511_n.jpg,"['person', 'person', 'person']"
1205,36741603_406217799870996_2843266872483250176_n...,"['person', 'person', 'person', 'person']"
1206,13658790_1731636513752873_1076342341_n.jpg,"['person', 'person', 'person', 'person', 'pers..."
1207,12976395_1600858560232114_477067285_n.jpg,['person']
1208,14031599_1734714066783883_1863023247_n.jpg,"['person', 'car', 'car']"
1209,11085155_798674000180410_1805538976_n.jpg,"['person', 'tv', 'laptop']"
1210,10903532_733333903449430_778060420_n.jpg,"['person', 'person', 'person', 'person', 'pers..."
1211,15538265_175003342971951_1807991217967857664_n...,[]
1212,52860671_357916058146466_2519275098362140821_n...,"['person', 'person', 'person', 'person', 'pers..."
1213,18443209_1437915832920980_2830377533894033408_...,['person']
1214,17265738_111898456009414_3340255066064945152_n...,[]
1215,10986399_1572486246296637_1311635121_n.jpg,['person']
1216,26152433_917890928420153_540666469088755712_n.jpg,[]
1217,52467472_220618965455007_42936578590668622_n.jpg,"['potted plant', 'laptop']"
1218,15877283_1810558895823503_7143526818027405312_...,['person']
1219,11264266_386611988191976_1548474905_n.jpg,"['person', 'person', 'person', 'cup']"
1220,10986198_1083685908324383_719907916_n.jpg,"['person', 'person']"
1221,24845247_138993626747862_3491080599374921728_n...,['person']
1222,12145390_1525301991105133_1422393752_n.jpg,['person']
1223,13731121_533102086891617_1263639380_n.jpg,['bowl']
1224,17076380_1012962605502291_612643347806289920_n...,"['person', 'person', 'car', 'person', 'car', '..."
1225,55872715_386828002168769_5958953335350188970_n...,['person']
1226,26334552_162206197745757_8993206225520820224_n...,"['person', 'dog']"
1227,11370966_152397431768486_1807999522_n.jpg,"['person', 'person', 'person']"
1228,13266890_1636099136715621_741541421_n.jpg,"['person', 'person']"
1229,10513770_259910154212240_241528360_n.jpg,['person']
1230,53539955_2243629175854035_6615714782700747126_...,['person']

In [132]:
with open('./aliaabhatt.json') as json_file:  
    AB_data = json.load(json_file)

In [133]:
data = [['DOW', 'day', 'month', 'year', 'time', 'timezone', 'epoch', 'num_likes', 'num_comments', 'url']]

In [134]:
for entry in AB_data['GraphImages']: 
    if entry['is_video'] == False:
        epoch = entry['taken_at_timestamp']
        t = time.strftime("%a, %d %b %Y %H:%M:%S %Z", time.localtime(epoch))
        row = t.split(' ')
        row[0] = row[0][:len(row[0])-1]
        row.append(epoch)
        row.append(entry['edge_media_preview_like']['count'])
        row.append(entry['edge_media_to_comment']['count'])
        temp_url = entry['display_url'].split('.jpg')[0].split('/')[8] + '.jpg'
        row.append(temp_url)
        data.append(row)

In [135]:
AB_df = pd.DataFrame(data, columns=['DOW', 'day', 'month', 'year', 'time', 'timezone', 'epoch', 'num_likes', 'num_comments', 'url'])
AB_df = AB_df.drop([0])

In [136]:
AB_df.head()

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,url
1,Tue,09,Apr,2019,22:41:49,PDT,1554874909,1407205,5045,54511586_1301069350049619_3770365202227246635_...
2,Tue,09,Apr,2019,05:34:04,PDT,1554813244,1364181,5621,54513633_2132051633558147_5634581464208102191_...
3,Tue,09,Apr,2019,05:23:41,PDT,1554812621,1629505,6615,56576043_388197402035165_3768893677250277139_n...
4,Mon,08,Apr,2019,23:24:01,PDT,1554791041,758278,1549,54446621_164522324545815_2144201445962359739_n...
5,Mon,08,Apr,2019,09:35:13,PDT,1554741313,1132241,3289,56315761_1233235843506462_5516913578636583739_...

In [139]:
new_AB_df = AB_df.merge(image_DF, how='inner', left_on='url', right_on='name')
new_AB_df = new_AB_df.drop(columns=['url'])
num_persons = []
num_cats = []
num_dogs = []
for i in new_AB_df['objects']:
    count = i.count('person')
    if count > 0:
        num_persons.append(1)
    else:
        num_persons.append(0)
    
new_AB_df['is_person'] = num_persons

In [140]:
curr_index = 1
previous_likes = np.array([])
while (curr_index <= len(new_AB_df)):
    end_index = min(len(new_AB_df) + 1, curr_index + 10)
    previous_likes = np.append(previous_likes, new_AB_df['num_likes'][curr_index:end_index].mean())
    curr_index=curr_index + 1
    
previous_likes[len(new_AB_df) - 1] = 0
new_AB_df['previous_likes'] = previous_likes

In [141]:
new_AB_df.head()

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,name,objects,is_person,previous_likes
0,Tue,09,Apr,2019,22:41:49,PDT,1554874909,1407205,5045,54511586_1301069350049619_3770365202227246635_...,"['person', 'person']",1,1316811.7
1,Tue,09,Apr,2019,05:34:04,PDT,1554813244,1364181,5621,54513633_2132051633558147_5634581464208102191_...,['person'],1,1380822.2
2,Tue,09,Apr,2019,05:23:41,PDT,1554812621,1629505,6615,56576043_388197402035165_3768893677250277139_n...,['person'],1,1366938.5
3,Mon,08,Apr,2019,23:24:01,PDT,1554791041,758278,1549,54446621_164522324545815_2144201445962359739_n...,"['person', 'person', 'person']",1,1346500.1
4,Mon,08,Apr,2019,09:35:13,PDT,1554741313,1132241,3289,56315761_1233235843506462_5516913578636583739_...,"['person', 'person', 'person']",1,1339493.6

In [142]:
from sklearn.linear_model import LinearRegression

In [143]:
avg_likes = new_AB_df['num_likes'].mean()

In [144]:
new_AB_df['datetime'] = pd.to_datetime(new_AB_df['time'])
new_AB_df['hour'] = [i.hour for i in new_AB_df['datetime']]

In [145]:
AB_df.shape[0]

1253

In [146]:
new_AB_df['avg_likes'] = pd.Series(np.ones(new_AB_df.shape[0])*avg_likes)
new_AB_df['follower_count'] = pd.Series(np.ones(new_AB_df.shape[0])*30968015)
days = pd.get_dummies(new_AB_df['DOW'])

In [147]:
months = pd.get_dummies(new_AB_df['month'])

In [148]:
new_AB_df = new_AB_df.merge(days, left_index = True, right_index = True)

In [149]:
new_AB_df = new_AB_df.merge(months, left_index = True, right_index = True)

In [150]:
new_AB_df = new_AB_df.dropna()

In [155]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
X = new_AB_df.loc[:, ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'epoch', 'previous_likes', 'is_person', 'hour']]
Y = new_AB_df.loc[:, 'num_likes']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.1, shuffle = True, random_state=100)
LinearRegressionModel = linear_model.LinearRegression() 
LinearRegressionModel.fit(x_train, y_train)
print("Training: ", LinearRegressionModel.score(x_train, y_train))
print("Testing: ", LinearRegressionModel.score(x_test, y_test))

Training:  0.7984647130098962
Testing:  0.8408734139543977