In [24]:
import numpy as np 
import pandas as pd
import json
import time
from xgboost import XGBClassifier

In [25]:
image_DF = pd.read_csv('JuliaH_output.csv', names=['name', 'objects'])
image_DF

,name,objects
0,11373951_547861015368709_27383197_n.jpg,['person']
1,11137861_368928393296562_586395092_n.jpg,[]
2,59440893_320447451978479_14440433370112300_n.jpg,"['handbag', 'person']"
3,1516017_677498145628443_539786127_n.jpg,[]
4,10517972_791820837518301_1077354569_n.jpg,"['person', 'surfboard']"
5,11377651_979035225454202_1395787757_n.jpg,"['person', 'person', 'person']"
6,10809822_931130613574609_767223753_n.jpg,"['person', 'cup']"
7,11111538_472759336209408_864946583_n.jpg,['person']
8,11265882_1581736328749792_1519340051_n.jpg,"['person', 'person', 'person', 'person', 'pers..."
9,23417009_901911826642545_1995106574934212608_n...,"['person', 'sports ball', 'sports ball']"
10,10895085_876160072429273_800102039_n.jpg,"['person', 'handbag', 'handbag', 'suitcase']"
11,11939590_1514410338851042_1833829311_n.jpg,['handbag']
12,28754159_2009000082707409_1496938351972843520_...,[]
13,12552255_431180823755321_1736729546_n.jpg,"['person', 'person']"
14,11917942_996161067094383_1704580930_n.jpg,"['tv', 'cup']"
15,22857619_948394388641845_4255404522580475904_n...,['potted plant']
16,13414214_144654869285817_161266266_n.jpg,"['dining table', 'cup', 'bowl', 'cup', 'cup']"
17,26067697_948562815320572_38612859797635072_n.jpg,['person']
18,10950552_1605633336336133_1240112040_n.jpg,['person']
19,10401800_531725660272391_843296504_n.jpg,"['potted plant', 'chair', 'chair', 'chair', 'c..."
20,36037672_280758132499633_5968910870967746560_n...,['person']
21,10899470_1548810522030498_1622894290_n.jpg,"['potted plant', 'person', 'person', 'chair', ..."
22,11241350_902470819796521_458278847_n.jpg,"['person', 'person']"
23,14553162_663796193801718_6096465094646956032_n...,"['person', 'person', 'car']"
24,11374713_1661711410738779_116061771_n.jpg,"['person', 'person', 'cell phone']"
25,20347039_1967943290153088_1588181461842788352_...,"['person', 'boat', 'boat', 'boat']"
26,11257784_658113974320167_743929792_n.jpg,[]
27,11205772_1596711647275050_602706129_n.jpg,['person']
28,10948772_1549913111931505_2108415666_n.jpg,[]
29,10724854_555527467913724_1877974270_n.jpg,['person']
...,...,...
2477,13473129_1120283738033269_1773366020_n.jpg,"['donut', 'bench', 'potted plant']"
2478,14287991_351999281854920_898698550_n.jpg,"['person', 'handbag']"
2479,11184686_1389147574744763_975448490_n.jpg,"['person', 'handbag']"
2480,11386506_1442283842743783_1291202766_n.jpg,[]
2481,33964079_2091327824477687_8704459856293134336_...,['person']
2482,10986401_433709763454401_1507116477_n.jpg,"['person', 'person', 'handbag']"
2483,12346034_606211579516977_586952045_n.jpg,"['cup', 'spoon']"
2484,924714_660791217383660_1780805375_n.jpg,[]
2485,11117051_1633810493516282_711892547_n.jpg,['person']
2486,19120694_463613683998900_2005270563500589056_n...,"['person', 'handbag']"
2487,11189271_921242327937771_1700858413_n.jpg,"['car', 'person']"
2488,12552209_1010763658967112_259264789_n.jpg,['person']
2489,14727515_674867142689045_1621720200032288768_n...,"['person', 'person', 'wine glass']"
2490,40958056_314675405782585_3149959594307318444_n...,['person']
2491,10387810_297334837097664_369934519_n.jpg,[]
2492,53894746_368757753973984_1622684540919440042_n...,"['potted plant', 'person']"
2493,54511022_2373669806188453_624486079145122997_n...,"['person', 'dog', 'tennis racket']"
2494,13732128_319405598447526_901760498_n.jpg,[]
2495,11375774_827599233994917_1088644104_n.jpg,['person']
2496,11143043_820628671326028_376048434_n.jpg,['toothbrush']
2497,11255694_514793142034495_1118745324_n.jpg,"['tie', 'person']"
2498,26152694_278031099393392_9200289465266864128_n...,"['bicycle', 'person']"
2499,23417313_291467974673443_8946722932642545664_n...,[]
2500,10724229_288902994638317_1832449039_n.jpg,"['bowl', 'cup']"
2501,17596350_274860656259171_1889552578199420928_n...,"['person', 'car', 'handbag', 'person']"
2502,11355244_937507406291147_1549709902_n.jpg,"['person', 'person']"
2503,11330784_455084754652984_301387053_n.jpg,['dog']
2504,11184444_481184032080645_1070284457_n.jpg,['person']
2505,11142999_453984331425945_1377156799_n.jpg,"['person', 'bowl']"
2506,11186911_1607967566084378_1925301629_n.jpg,"['chair', 'couch', 'chair']"

In [29]:
with open('./juliahengel.json') as json_file:  
    AB_data = json.load(json_file)

In [30]:
data = [['DOW', 'day', 'month', 'year', 'time', 'timezone', 'epoch', 'num_likes', 'num_comments', 'url']]

In [31]:
for entry in AB_data['GraphImages']: 
    if entry['is_video'] == False:
        epoch = entry['taken_at_timestamp']
        text_entry = entry['edge_media_to_caption']['edges']
        text = ''
        if (len(text_entry) > 0):
            text = text_entry[0]['node']['text']
        #num_hashtags = len([i.strip("#") for i in text.split() if text.startswith("#")])
        #num_mentions = len([i.strip("@") for i in text.split() if text.startswith("@")])
        t = time.strftime("%a, %d %b %Y %H:%M:%S %Z", time.localtime(epoch))
        row = t.split(' ')
        row[0] = row[0][:len(row[0])-1]
        row.append(epoch)
        row.append(entry['edge_media_preview_like']['count'])
        row.append(entry['edge_media_to_comment']['count'])
        temp_url = entry['display_url'].split('.jpg')[0].split('/')[8] + '.jpg'
        row.append(temp_url)
        #ow.append(num_mentions)
        #row.append(num_mentions)
        data.append(row)

In [32]:
AB_df = pd.DataFrame(data, columns=['DOW', 'day', 'month', 'year', 'time', 'timezone', 'epoch', 'num_likes', 'num_comments', 'url'])
AB_df = AB_df.drop([0])

In [33]:
AB_df.head()

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,url
1,Fri,10,May,2019,16:19:41,PDT,1557530381,3740,44,p1080x1080.jpg
2,Fri,10,May,2019,12:43:56,PDT,1557517436,7958,94,p1080x1080.jpg
3,Fri,10,May,2019,07:00:33,PDT,1557496833,7417,58,p1080x1080.jpg
4,Wed,08,May,2019,20:45:09,PDT,1557373509,12182,79,p1080x1080.jpg
5,Tue,07,May,2019,17:56:07,PDT,1557276967,15992,156,p1080x1080.jpg

In [34]:
new_AB_df = AB_df.merge(image_DF, how='inner', left_on='url', right_on='name')
new_AB_df = new_AB_df.drop(columns=['url'])
text_file = open("./yolo/yolov3.txt", "r")
lines = text_file.read().split()

In [35]:
for item in lines:
    temp_item = []
    for i in new_AB_df['objects']:
        count = i.count(item)
        if count > 0:
            temp_item.append(1)
        else:
            temp_item.append(0)
    category = 'is_' + item
    new_AB_df[category] = temp_item
    
new_AB_df.head()

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,name,...,is_sink,is_refrigerator,is_book,is_clock,is_vase,is_scissors,is_teddy,is_hair,is_drier,is_toothbrush
0,Mon,06,May,2019,08:01:25,PDT,1557154885,10672,79,57622432_2143577932427006_1051385922012141349_...,...,0,0,0,0,0,0,0,1,0,0
1,Sun,05,May,2019,19:03:16,PDT,1557108196,17846,96,59538979_1339138699558933_1640108763480233647_...,...,0,0,0,0,0,0,0,0,0,0
2,Fri,03,May,2019,14:08:27,PDT,1556917707,13849,140,59440893_320447451978479_14440433370112300_n.jpg,...,0,0,0,0,0,0,0,0,0,0
3,Fri,03,May,2019,11:50:22,PDT,1556909422,11376,74,58902475_379169652684318_4686424431169784492_n...,...,0,0,0,0,0,0,0,0,0,0
4,Wed,01,May,2019,07:32:01,PDT,1556721121,17654,186,58410991_1318573554947654_4551817925315723519_...,...,0,0,0,0,0,0,0,0,0,0

In [36]:
curr_index = 1
previous_likes = np.array([])
while (curr_index <= len(new_AB_df)):
    end_index = min(len(new_AB_df) + 1, curr_index + 10)
    previous_likes = np.append(previous_likes, new_AB_df['num_likes'][curr_index:end_index].mean())
    curr_index=curr_index + 1
    
previous_likes[len(new_AB_df) - 1] = 0
new_AB_df['previous_likes'] = previous_likes

In [37]:
new_AB_df.head()

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,name,...,is_refrigerator,is_book,is_clock,is_vase,is_scissors,is_teddy,is_hair,is_drier,is_toothbrush,previous_likes
0,Mon,06,May,2019,08:01:25,PDT,1557154885,10672,79,57622432_2143577932427006_1051385922012141349_...,...,0,0,0,0,0,0,1,0,0,17259.9
1,Sun,05,May,2019,19:03:16,PDT,1557108196,17846,96,59538979_1339138699558933_1640108763480233647_...,...,0,0,0,0,0,0,0,0,0,20504.5
2,Fri,03,May,2019,14:08:27,PDT,1556917707,13849,140,59440893_320447451978479_14440433370112300_n.jpg,...,0,0,0,0,0,0,0,0,0,20194.9
3,Fri,03,May,2019,11:50:22,PDT,1556909422,11376,74,58902475_379169652684318_4686424431169784492_n...,...,0,0,0,0,0,0,0,0,0,19842.9
4,Wed,01,May,2019,07:32:01,PDT,1556721121,17654,186,58410991_1318573554947654_4551817925315723519_...,...,0,0,0,0,0,0,0,0,0,20678.1

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
avg_likes = new_AB_df['num_likes'].mean()

In [40]:
new_AB_df['datetime'] = pd.to_datetime(new_AB_df['time'])
new_AB_df['hour'] = [i.hour for i in new_AB_df['datetime']]

In [41]:
new_AB_df.shape[0]

2424

In [42]:
days = pd.get_dummies(new_AB_df['DOW'])

In [43]:
months = pd.get_dummies(new_AB_df['month'])

In [44]:
new_AB_df = new_AB_df.merge(days, left_index = True, right_index = True)

In [45]:
new_AB_df = new_AB_df.dropna()
new_AB_df.loc[:, (new_AB_df != 0).any(axis=0)]

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,name,...,previous_likes,datetime,hour,Fri,Mon,Sat,Sun,Thu,Tue,Wed
0,Mon,06,May,2019,08:01:25,PDT,1557154885,10672,79,57622432_2143577932427006_1051385922012141349_...,...,17259.900000,2019-05-10 08:01:25,8,0,1,0,0,0,0,0
1,Sun,05,May,2019,19:03:16,PDT,1557108196,17846,96,59538979_1339138699558933_1640108763480233647_...,...,20504.500000,2019-05-10 19:03:16,19,0,0,0,1,0,0,0
2,Fri,03,May,2019,14:08:27,PDT,1556917707,13849,140,59440893_320447451978479_14440433370112300_n.jpg,...,20194.900000,2019-05-10 14:08:27,14,1,0,0,0,0,0,0
3,Fri,03,May,2019,11:50:22,PDT,1556909422,11376,74,58902475_379169652684318_4686424431169784492_n...,...,19842.900000,2019-05-10 11:50:22,11,1,0,0,0,0,0,0
4,Wed,01,May,2019,07:32:01,PDT,1556721121,17654,186,58410991_1318573554947654_4551817925315723519_...,...,20678.100000,2019-05-10 07:32:01,7,0,0,0,0,0,0,1
5,Mon,29,Apr,2019,18:02:52,PDT,1556586172,17748,221,57106743_610417366102122_465524643133339256_n.jpg,...,20724.200000,2019-05-10 18:02:52,18,0,1,0,0,0,0,0
6,Sun,28,Apr,2019,17:10:38,PDT,1556496638,22892,199,56965626_282596436016131_2213263089958937197_n...,...,19656.600000,2019-05-10 17:10:38,17,0,0,0,1,0,0,0
7,Sun,28,Apr,2019,07:11:52,PDT,1556460712,13947,90,57118336_285012012426675_8158168220252443745_n...,...,19825.200000,2019-05-10 07:11:52,7,0,0,0,1,0,0,0
8,Tue,23,Apr,2019,06:47:32,PDT,1556027252,17317,194,56531405_2371319923100847_7025910179903448055_...,...,19295.100000,2019-05-10 06:47:32,6,0,0,0,0,0,1,0
9,Sun,21,Apr,2019,18:28:24,PDT,1555896504,22673,117,56408664_327983951234264_7431750808676553095_n...,...,18583.200000,2019-05-10 18:28:24,18,0,0,0,1,0,0,0
10,Sun,21,Apr,2019,10:41:23,PDT,1555868483,17297,135,56490508_114406819755147_1032115428848225509_n...,...,17608.100000,2019-05-10 10:41:23,10,0,0,0,1,0,0,0
11,Sat,20,Apr,2019,11:46:53,PDT,1555786013,50292,419,56980914_566987020459630_4230987319916452355_n...,...,14208.200000,2019-05-10 11:46:53,11,0,0,1,0,0,0,0
12,Sat,20,Apr,2019,06:37:54,PDT,1555767474,10753,67,56811530_317312445633445_7021613468095689554_n...,...,14782.700000,2019-05-10 06:37:54,6,0,0,1,0,0,0,0
13,Fri,19,Apr,2019,14:05:49,PDT,1555707949,7856,66,56910302_825799351112460_8735999952957641627_n...,...,15102.500000,2019-05-10 14:05:49,14,1,0,0,0,0,0,0
14,Wed,17,Apr,2019,06:39:54,PDT,1555508394,26006,361,56264476_406614109892994_4224506838815489162_n...,...,15520.700000,2019-05-10 06:39:54,6,0,0,0,0,0,0,1
15,Mon,15,Apr,2019,08:45:05,PDT,1555343105,18209,175,55933769_145938389785369_358688558858847620_n.jpg,...,15453.000000,2019-05-10 08:45:05,8,0,1,0,0,0,0,0
16,Sun,14,Apr,2019,11:41:00,PDT,1555267260,12216,93,56711314_2085313348255985_4584264540709905083_...,...,17182.900000,2019-05-10 11:41:00,11,0,0,0,1,0,0,0
17,Sun,14,Apr,2019,09:05:32,PDT,1555257932,15633,143,56956613_400263683889475_7454049201771274126_n...,...,18147.200000,2019-05-10 09:05:32,9,0,0,0,1,0,0,0
18,Sat,13,Apr,2019,11:03:48,PDT,1555178628,12016,109,57044384_2436090996457774_1725533489405845244_...,...,18214.500000,2019-05-10 11:03:48,11,0,0,1,0,0,0,0
19,Tue,09,Apr,2019,10:17:25,PDT,1554830245,15554,192,56349294_394484208041260_7491214809464996896_n...,...,18252.400000,2019-05-10 10:17:25,10,0,0,0,0,0,1,0
20,Sun,07,Apr,2019,19:45:53,PDT,1554691553,7546,83,54429350_2116710268440423_3703544914017354038_...,...,18715.000000,2019-05-10 19:45:53,19,0,0,0,1,0,0,0
21,Sun,07,Apr,2019,15:48:04,PDT,1554677284,16293,76,56567408_508877049644751_3911514654825955174_n...,...,18209.400000,2019-05-10 15:48:04,15,0,0,0,1,0,0,0
22,Wed,03,Apr,2019,06:46:25,PDT,1554299185,16498,172,54277711_673132249784056_5167631713450986906_n...,...,18192.300000,2019-05-10 06:46:25,6,0,0,0,0,0,0,1
23,Tue,02,Apr,2019,06:50:39,PDT,1554213039,11054,82,54277399_165664434347771_3099592847805269530_n...,...,18756.700000,2019-05-10 06:50:39,6,0,0,0,0,0,1,0
24,Sun,31,Mar,2019,16:38:08,PDT,1554075488,30188,270,54800736_2152336691743034_345080188440821479_n...,...,17556.600000,2019-05-10 16:38:08,16,0,0,0,1,0,0,0
25,Sun,31,Mar,2019,09:17:20,PDT,1554049040,17532,112,52870303_568791970294444_1110695603867820673_n...,...,17260.900000,2019-05-10 09:17:20,9,0,0,0,1,0,0,0
26,Sat,30,Mar,2019,12:52:59,PDT,1553975579,29515,188,54514028_820842174945811_7946115122958175247_n...,...,18967.800000,2019-05-10 12:52:59,12,0,0,1,0,0,0,0
27,Sat,30,Mar,2019,06:43:12,PDT,1553953392,25276,188,54800574_129522074785402_4287795531044495572_n...,...,19044.700000,2019-05-10 06:43:12,6,0,0,1,0,0,0,0
28,Fri,29,Mar,2019,11:55:57,PDT,1553885757,12689,102,53762940_283969665831467_2709851693802126104_n...,...,19584.100000,2019-05-10 11:55:57,11,1,0,0,0,0,0,0
29,Thu,28,Mar,2019,15:02:04,PDT,1553810524,15933,132,54511022_2373669806188453_624486079145122997_n...,...,21068.600000,2019-05-10 15:02:04,15,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,Sat,29,Oct,2011,11:41:10,PDT,1319913670,89,3,11184619_1568776780053294_1179379593_n.jpg,...,46.500000,2019-05-10 11:41:10,11,0,0,1,0,0,0,0
2395,Fri,28,Oct,2011,18:26:16,PDT,1319851576,262,27,11116979_370835869707923_75493128_n.jpg,...,21.300000,2019-05-10 18:26:16,18,1,0,0,0,0,0,0
2396,Thu,27,Oct,2011,15:51:02,PDT,1319755862,25,1,11184487_883344285037929_1072536421_n.jpg,...,20.400000,2019-05-10 15:51:02,15,0,0,0,0,1,0,0
2397,Wed,26,Oct,2011,08:52:49,PDT,1319644369,31,2,11137989_811066518979188_899033269_n.jpg,...,19.500000,2019-05-10 08:52:49,8,0,0,0,0,0,0,1
2398,Tue,25,Oct,2011,15:28:22,PDT,1319581702,18,0,11116722_101843403481500_1490360993_n.jpg,...,23.700000,2019-05-10 15:28:22,15,0,0,0,0,0,1,0
2399,Tue,25,Oct,2011,12:10:04,PDT,1319569804,15,0,10326365_1420896028226912_2124866824_n.jpg,...,22.900000,2019-05-10 12:10:04,12,0,0,0,0,0,1,0
2400,Tue,25,Oct,2011,08:38:46,PDT,1319557126,12,0,11142208_1032695593426454_1174688481_n.jpg,...,22.500000,2019-05-10 08:38:46,8,0,0,0,0,0,1,0
2401,Mon,24,Oct,2011,15:15:04,PDT,1319494504,17,2,11176021_1621937458040355_1330401633_n.jpg,...,21.900000,2019-05-10 15:15:04,15,0,1,0,0,0,0,0
2402,Mon,24,Oct,2011,10:46:36,PDT,1319478396,24,1,11138002_1435152340113609_715630830_n.jpg,...,21.600000,2019-05-10 10:46:36,10,0,1,0,0,0,0,0
2403,Sun,23,Oct,2011,13:14:02,PDT,1319400842,58,11,11186845_444113319084893_1216315668_n.jpg,...,17.800000,2019-05-10 13:14:02,13,0,0,0,1,0,0,0
2404,Sat,22,Oct,2011,18:49:16,PDT,1319334556,3,3,10665272_1436585519987249_391203021_n.jpg,...,20.400000,2019-05-10 18:49:16,18,0,0,1,0,0,0,0
2405,Fri,21,Oct,2011,05:32:43,PDT,1319200363,10,3,10431753_1428530137451678_1131170420_n.jpg,...,25.500000,2019-05-10 05:32:43,5,1,0,0,0,0,0,0
2406,Wed,19,Oct,2011,09:15:28,PDT,1319040928,16,1,11116596_471200033027590_1092481035_n.jpg,...,26.000000,2019-05-10 09:15:28,9,0,0,0,0,0,0,1
2407,Wed,19,Oct,2011,00:37:18,PDT,1319009838,22,1,11184658_820175781404231_66994641_n.jpg,...,26.700000,2019-05-10 00:37:18,0,0,0,0,0,0,0,1
2408,Tue,18,Oct,2011,14:00:40,PDT,1318971640,60,4,11142167_679540955507332_1328603223_n.jpg,...,22.000000,2019-05-10 14:00:40,14,0,0,0,0,0,1,0
2409,Tue,18,Oct,2011,09:17:35,PDT,1318954655,7,0,11184741_364467243742034_1209348506_n.jpg,...,24.200000,2019-05-10 09:17:35,9,0,0,0,0,0,1,0
2410,Mon,17,Oct,2011,15:09:01,PDT,1318889341,8,1,11117051_1633810493516282_711892547_n.jpg,...,27.000000,2019-05-10 15:09:01,15,0,1,0,0,0,0,0
2411,Sat,15,Oct,2011,21:57:09,PDT,1318741029,11,0,11176431_1408236776163874_1668585470_n.jpg,...,28.000000,2019-05-10 21:57:09,21,0,0,1,0,0,0,0
2412,Thu,13,Oct,2011,09:55:07,PDT,1318524907,21,1,11176610_880658912005413_1768883667_n.jpg,...,29.900000,2019-05-10 09:55:07,9,0,0,0,0,1,0,0
2413,Wed,12,Oct,2011,18:49:53,PDT,1318470593,20,2,11111538_472759336209408_864946583_n.jpg,...,35.500000,2019-05-10 18:49:53,18,0,0,0,0,0,0,1
2414,Tue,11,Oct,2011,09:23:27,PDT,1318350207,29,2,11176620_1428624024105610_426138382_n.jpg,...,36.222222,2019-05-10 09:23:27,9,0,0,0,0,0,1,0
2415,Sun,09,Oct,2011,17:24:50,PDT,1318206290,61,1,11098274_1573758866233002_184492919_n.jpg,...,33.125000,2019-05-10 17:24:50,17,0,0,0,1,0,0,0
2416,Sun,09,Oct,2011,13:52:46,PDT,1318193566,21,0,11117137_936484256395649_519047141_n.jpg,...,34.857143,2019-05-10 13:52:46,13,0,0,0,1,0,0,0
2417,Wed,05,Oct,2011,13:41:52,PDT,1317847312,29,2,11123652_1599778076903820_1560819401_n.jpg,...,35.833333,2019-05-10 13:41:52,13,0,0,0,0,0,0,1
2418,Wed,05,Oct,2011,13:40:07,PDT,1317847207,13,0,11142164_686772348099443_2051006174_n.jpg,...,40.400000,2019-05-10 13:40:07,13,0,0,0,0,0,0,1
2419,Sat,01,Oct,2011,13:04:59,PDT,1317499499,29,0,11142999_453984331425945_1377156799_n.jpg,...,43.250000,2019-05-10 13:04:59,13,0,0,1,0,0,0,0
2420,Thu,29,Sep,2011,08:45:54,PDT,1317311154,36,2,11111392_414380112077048_426913630_n.jpg,...,45.666667,2019-05-10 08:45:54,8,0,0,0,0,1,0,0
2421,Thu,29,Sep,2011,08:40:33,PDT,1317310833,21,1,10898951_1388415701484443_53455441_n.jpg,...,58.000000,2019-05-10 08:40:33,8,0,0,0,0,1,0,0
2422,Mon,26,Sep,2011,18:29:41,PDT,1317086981,40,0,11184569_1633683003530595_491918502_n.jpg,...,76.000000,2019-05-10 18:29:41,18,0,1,0,0,0,0,0
2423,Mon,26,Sep,2011,11:41:04,PDT,1317062464,76,6,11123887_827890997281353_2058860764_n.jpg,...,0.000000,2019-05-10 11:41:04,11,0,1,0,0,0,0,0

In [46]:
X = new_AB_df.drop(['DOW', 'day', 'month', 'year', 'time', 'timezone', 'num_comments', 'name', 'num_likes', 'objects', 'datetime'], axis=1)
print(X.columns)

Index(['epoch', 'is_person', 'is_bicycle', 'is_car', 'is_motorcycle',
       'is_airplane', 'is_bus', 'is_train', 'is_truck', 'is_boat',
       ...
       'is_toothbrush', 'previous_likes', 'hour', 'Fri', 'Mon', 'Sat', 'Sun',
       'Thu', 'Tue', 'Wed'],
      dtype='object', length=102)

In [49]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.externals import joblib
Y = new_AB_df.loc[:, 'num_likes']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, shuffle = True, random_state=100)
LinearRegressionModel = linear_model.LinearRegression() 
LinearRegressionModel.fit(x_train, y_train)
print("Training: ", LinearRegressionModel.score(x_train, y_train))
print("Testing: ", LinearRegressionModel.score(x_test, y_test))

filename = 'juliaH_model.sav'
joblib.dump(LinearRegressionModel, filename)

Training:  0.7814820207642819
Testing:  0.758104365582872

['juliaH_model.sav']

In [50]:
loaded_model = joblib.load(filename)
result = loaded_model.score(x_test, y_test)
print(result)

0.758104365582872