In [9]:
import numpy as np 
import pandas as pd
import json
import time
from xgboost import XGBClassifier

In [10]:
image_DF = pd.read_csv('JuliaH_output.csv', names=['name', 'objects'])
image_DF

,name,objects
0,11373951_547861015368709_27383197_n.jpg,['person']
1,11137861_368928393296562_586395092_n.jpg,[]
2,59440893_320447451978479_14440433370112300_n.jpg,"['handbag', 'person']"
3,1516017_677498145628443_539786127_n.jpg,[]
4,10517972_791820837518301_1077354569_n.jpg,"['person', 'surfboard']"
5,11377651_979035225454202_1395787757_n.jpg,"['person', 'person', 'person']"
6,10809822_931130613574609_767223753_n.jpg,"['person', 'cup']"
7,11111538_472759336209408_864946583_n.jpg,['person']
8,11265882_1581736328749792_1519340051_n.jpg,"['person', 'person', 'person', 'person', 'pers..."
9,23417009_901911826642545_1995106574934212608_n...,"['person', 'sports ball', 'sports ball']"
10,10895085_876160072429273_800102039_n.jpg,"['person', 'handbag', 'handbag', 'suitcase']"
11,11939590_1514410338851042_1833829311_n.jpg,['handbag']
12,28754159_2009000082707409_1496938351972843520_...,[]
13,12552255_431180823755321_1736729546_n.jpg,"['person', 'person']"
14,11917942_996161067094383_1704580930_n.jpg,"['tv', 'cup']"
15,22857619_948394388641845_4255404522580475904_n...,['potted plant']
16,13414214_144654869285817_161266266_n.jpg,"['dining table', 'cup', 'bowl', 'cup', 'cup']"
17,26067697_948562815320572_38612859797635072_n.jpg,['person']
18,10950552_1605633336336133_1240112040_n.jpg,['person']
19,10401800_531725660272391_843296504_n.jpg,"['potted plant', 'chair', 'chair', 'chair', 'c..."
20,36037672_280758132499633_5968910870967746560_n...,['person']
21,10899470_1548810522030498_1622894290_n.jpg,"['potted plant', 'person', 'person', 'chair', ..."
22,11241350_902470819796521_458278847_n.jpg,"['person', 'person']"
23,14553162_663796193801718_6096465094646956032_n...,"['person', 'person', 'car']"
24,11374713_1661711410738779_116061771_n.jpg,"['person', 'person', 'cell phone']"
25,20347039_1967943290153088_1588181461842788352_...,"['person', 'boat', 'boat', 'boat']"
26,11257784_658113974320167_743929792_n.jpg,[]
27,11205772_1596711647275050_602706129_n.jpg,['person']
28,10948772_1549913111931505_2108415666_n.jpg,[]
29,10724854_555527467913724_1877974270_n.jpg,['person']
...,...,...
2400,27575432_1979580525627915_2845198160362471424_...,"['person', 'handbag']"
2401,11190205_1593641284248951_2024899864_n.jpg,"['person', 'person', 'vase']"
2402,11116836_458387314315752_198758147_n.jpg,['person']
2403,11190154_1645513155683845_1046442172_n.jpg,"['chair', 'chair', 'dining table', 'chair', 'c..."
2404,11189688_1667125220176139_241264183_n.jpg,[]
2405,11241977_348424765368301_545960708_n.jpg,[]
2406,11184635_1590991057847752_970916566_n.jpg,"['person', 'person']"
2407,20838693_1720386031591508_8711670101360771072_...,"['person', 'person', 'person', 'handbag']"
2408,39215069_2176654119248212_3936762307639508992_...,['person']
2409,11191498_1419458308373012_103111745_n.jpg,"['cup', 'dining table', 'pizza', 'fork', 'knife']"
2410,21147765_599696703753132_3779104327470153728_n...,"['person', 'cup', 'cup']"
2411,11186900_845918708825475_1774614505_n.jpg,['person']
2412,12139679_1011244442260547_1781499433_n.jpg,[]
2413,10979563_970293706327633_1105851265_n.jpg,[]
2414,11184628_1423804001258975_279868715_n.jpg,"['person', 'person']"
2415,15625356_121618968333303_8741970004712357888_n...,[]
2416,37052799_204987223521479_6172653455086190592_n...,['bed']
2417,10983615_449480451903831_2126541191_n.jpg,[]
2418,11313316_768845113233268_1958745186_n.jpg,"['person', 'handbag']"
2419,926027_185451274983940_926768834_n.jpg,['person']
2420,1599055_590020224411213_1107198777_n.jpg,"['person', 'handbag']"
2421,12407720_1680732485545020_772842738_n.jpg,['potted plant']
2422,11230373_430431833800801_34835637_n.jpg,"['dining table', 'cup', 'fork', 'cup', 'cup', ..."
2423,11193142_840640659348089_1125724643_n.jpg,[]
2424,19534771_332797810487294_8924669336434507776_n...,"['dining table', 'chair', 'person', 'couch', '..."
2425,11123849_1400770623579132_294925666_n.jpg,"['person', 'person']"
2426,11201744_1636993026537547_2006099637_n.jpg,['person']
2427,10296732_569425286504111_923943113_n.jpg,[]
2428,11376335_1459870760973296_524348847_n.jpg,"['person', 'person']"
2429,11123844_362742560582497_590517253_n.jpg,"['person', 'pizza', 'dining table', 'cup', 'ch..."

In [14]:
with open('./juliahengel/juliahengel.json') as json_file:  
    AB_data = json.load(json_file)

In [15]:
data = [['DOW', 'day', 'month', 'year', 'time', 'timezone', 'epoch', 'num_likes', 'num_comments', 'url']]

In [16]:
for entry in AB_data['GraphImages']: 
    if entry['is_video'] == False:
        epoch = entry['taken_at_timestamp']
        text_entry = entry['edge_media_to_caption']['edges']
        text = ''
        if (len(text_entry) > 0):
            text = text_entry[0]['node']['text']
        #num_hashtags = len([i.strip("#") for i in text.split() if text.startswith("#")])
        #num_mentions = len([i.strip("@") for i in text.split() if text.startswith("@")])
        t = time.strftime("%a, %d %b %Y %H:%M:%S %Z", time.localtime(epoch))
        row = t.split(' ')
        row[0] = row[0][:len(row[0])-1]
        row.append(epoch)
        row.append(entry['edge_media_preview_like']['count'])
        row.append(entry['edge_media_to_comment']['count'])
        temp_url = entry['display_url'].split('.jpg')[0].split('/')[8] + '.jpg'
        row.append(temp_url)
        #ow.append(num_mentions)
        #row.append(num_mentions)
        data.append(row)

In [17]:
AB_df = pd.DataFrame(data, columns=['DOW', 'day', 'month', 'year', 'time', 'timezone', 'epoch', 'num_likes', 'num_comments', 'url'])
AB_df = AB_df.drop([0])

In [18]:
AB_df.head()

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,url
1,Fri,10,May,2019,19:43:56,UTC,1557517436,5620,68,p1080x1080.jpg
2,Fri,10,May,2019,14:00:33,UTC,1557496833,6724,52,p1080x1080.jpg
3,Thu,09,May,2019,03:45:09,UTC,1557373509,12062,78,p1080x1080.jpg
4,Wed,08,May,2019,00:56:07,UTC,1557276967,15960,155,p1080x1080.jpg
5,Tue,07,May,2019,15:53:27,UTC,1557244407,7366,57,p1080x1080.jpg

In [19]:
new_AB_df = AB_df.merge(image_DF, how='inner', left_on='url', right_on='name')
new_AB_df = new_AB_df.drop(columns=['url'])
text_file = open("./yolo/yolov3.txt", "r")
lines = text_file.read().split()

In [20]:
for item in lines:
    temp_item = []
    for i in new_AB_df['objects']:
        count = i.count(item)
        if count > 0:
            temp_item.append(1)
        else:
            temp_item.append(0)
    category = 'is_' + item
    new_AB_df[category] = temp_item
    
new_AB_df.head()

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,name,...,is_sink,is_refrigerator,is_book,is_clock,is_vase,is_scissors,is_teddy,is_hair,is_drier,is_toothbrush
0,Mon,06,May,2019,15:01:25,UTC,1557154885,10668,79,57622432_2143577932427006_1051385922012141349_...,...,0,0,0,0,0,0,0,1,0,0
1,Mon,06,May,2019,02:03:16,UTC,1557108196,17834,95,59538979_1339138699558933_1640108763480233647_...,...,0,0,0,0,0,0,0,0,0,0
2,Fri,03,May,2019,21:08:27,UTC,1556917707,13844,140,59440893_320447451978479_14440433370112300_n.jpg,...,0,0,0,0,0,0,0,0,0,0
3,Fri,03,May,2019,18:50:22,UTC,1556909422,11374,74,58902475_379169652684318_4686424431169784492_n...,...,0,0,0,0,0,0,0,0,0,0
4,Wed,01,May,2019,14:32:01,UTC,1556721121,17652,186,58410991_1318573554947654_4551817925315723519_...,...,0,0,0,0,0,0,0,0,0,0

In [21]:
curr_index = 1
previous_likes = np.array([])
while (curr_index <= len(new_AB_df)):
    end_index = min(len(new_AB_df) + 1, curr_index + 10)
    previous_likes = np.append(previous_likes, new_AB_df['num_likes'][curr_index:end_index].mean())
    curr_index=curr_index + 1
    
previous_likes[len(new_AB_df) - 1] = 0
new_AB_df['previous_likes'] = previous_likes

In [22]:
new_AB_df.head()

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,name,...,is_refrigerator,is_book,is_clock,is_vase,is_scissors,is_teddy,is_hair,is_drier,is_toothbrush,previous_likes
0,Mon,06,May,2019,15:01:25,UTC,1557154885,10668,79,57622432_2143577932427006_1051385922012141349_...,...,0,0,0,0,0,0,1,0,0,17257.3
1,Mon,06,May,2019,02:03:16,UTC,1557108196,17834,95,59538979_1339138699558933_1640108763480233647_...,...,0,0,0,0,0,0,0,0,0,20502.9
2,Fri,03,May,2019,21:08:27,UTC,1556917707,13844,140,59440893_320447451978479_14440433370112300_n.jpg,...,0,0,0,0,0,0,0,0,0,20193.7
3,Fri,03,May,2019,18:50:22,UTC,1556909422,11374,74,58902475_379169652684318_4686424431169784492_n...,...,0,0,0,0,0,0,0,0,0,19841.8
4,Wed,01,May,2019,14:32:01,UTC,1556721121,17652,186,58410991_1318573554947654_4551817925315723519_...,...,0,0,0,0,0,0,0,0,0,20676.9

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
avg_likes = new_AB_df['num_likes'].mean()

In [25]:
new_AB_df['datetime'] = pd.to_datetime(new_AB_df['time'])
new_AB_df['hour'] = [i.hour for i in new_AB_df['datetime']]

In [26]:
new_AB_df.shape[0]

2349

In [27]:
days = pd.get_dummies(new_AB_df['DOW'])

In [28]:
months = pd.get_dummies(new_AB_df['month'])

In [29]:
new_AB_df = new_AB_df.merge(days, left_index = True, right_index = True)

In [30]:
new_AB_df = new_AB_df.dropna()
new_AB_df.loc[:, (new_AB_df != 0).any(axis=0)]

,DOW,day,month,year,time,timezone,epoch,num_likes,num_comments,name,...,previous_likes,datetime,hour,Fri,Mon,Sat,Sun,Thu,Tue,Wed
0,Mon,06,May,2019,15:01:25,UTC,1557154885,10668,79,57622432_2143577932427006_1051385922012141349_...,...,17257.300000,2019-05-10 15:01:25,15,0,1,0,0,0,0,0
1,Mon,06,May,2019,02:03:16,UTC,1557108196,17834,95,59538979_1339138699558933_1640108763480233647_...,...,20502.900000,2019-05-10 02:03:16,2,0,1,0,0,0,0,0
2,Fri,03,May,2019,21:08:27,UTC,1556917707,13844,140,59440893_320447451978479_14440433370112300_n.jpg,...,20193.700000,2019-05-10 21:08:27,21,1,0,0,0,0,0,0
3,Fri,03,May,2019,18:50:22,UTC,1556909422,11374,74,58902475_379169652684318_4686424431169784492_n...,...,19841.800000,2019-05-10 18:50:22,18,1,0,0,0,0,0,0
4,Wed,01,May,2019,14:32:01,UTC,1556721121,17652,186,58410991_1318573554947654_4551817925315723519_...,...,20676.900000,2019-05-10 14:32:01,14,0,0,0,0,0,0,1
5,Tue,30,Apr,2019,01:02:52,UTC,1556586172,17745,221,57106743_610417366102122_465524643133339256_n.jpg,...,20723.300000,2019-05-10 01:02:52,1,0,0,0,0,0,1,0
6,Mon,29,Apr,2019,00:10:38,UTC,1556496638,22891,199,56965626_282596436016131_2213263089958937197_n...,...,19655.700000,2019-05-10 00:10:38,0,0,1,0,0,0,0,0
7,Sun,28,Apr,2019,14:11:52,UTC,1556460712,13947,90,57118336_285012012426675_8158168220252443745_n...,...,19824.100000,2019-05-10 14:11:52,14,0,0,0,1,0,0,0
8,Tue,23,Apr,2019,13:47:32,UTC,1556027252,17316,194,56531405_2371319923100847_7025910179903448055_...,...,19294.100000,2019-05-10 13:47:32,13,0,0,0,0,0,1,0
9,Mon,22,Apr,2019,01:28:24,UTC,1555896504,22673,117,56408664_327983951234264_7431750808676553095_n...,...,18582.200000,2019-05-10 01:28:24,1,0,1,0,0,0,0,0
10,Sun,21,Apr,2019,17:41:23,UTC,1555868483,17297,135,56490508_114406819755147_1032115428848225509_n...,...,17607.000000,2019-05-10 17:41:23,17,0,0,0,1,0,0,0
11,Sat,20,Apr,2019,18:46:53,UTC,1555786013,50290,419,56980914_566987020459630_4230987319916452355_n...,...,14207.300000,2019-05-10 18:46:53,18,0,0,1,0,0,0,0
12,Sat,20,Apr,2019,13:37:54,UTC,1555767474,10752,67,56811530_317312445633445_7021613468095689554_n...,...,14781.900000,2019-05-10 13:37:54,13,0,0,1,0,0,0,0
13,Fri,19,Apr,2019,21:05:49,UTC,1555707949,7855,66,56910302_825799351112460_8735999952957641627_n...,...,15101.800000,2019-05-10 21:05:49,21,1,0,0,0,0,0,0
14,Wed,17,Apr,2019,13:39:54,UTC,1555508394,26003,361,56264476_406614109892994_4224506838815489162_n...,...,15520.300000,2019-05-10 13:39:54,13,0,0,0,0,0,0,1
15,Mon,15,Apr,2019,15:45:05,UTC,1555343105,18209,175,55933769_145938389785369_358688558858847620_n.jpg,...,15452.500000,2019-05-10 15:45:05,15,0,1,0,0,0,0,0
16,Sun,14,Apr,2019,18:41:00,UTC,1555267260,12215,93,56711314_2085313348255985_4584264540709905083_...,...,17182.500000,2019-05-10 18:41:00,18,0,0,0,1,0,0,0
17,Sun,14,Apr,2019,16:05:32,UTC,1555257932,15631,143,56956613_400263683889475_7454049201771274126_n...,...,18147.200000,2019-05-10 16:05:32,16,0,0,0,1,0,0,0
18,Sat,13,Apr,2019,18:03:48,UTC,1555178628,12016,109,57044384_2436090996457774_1725533489405845244_...,...,18214.500000,2019-05-10 18:03:48,18,0,0,1,0,0,0,0
19,Tue,09,Apr,2019,17:17:25,UTC,1554830245,15554,192,56349294_394484208041260_7491214809464996896_n...,...,17782.800000,2019-05-10 17:17:25,17,0,0,0,0,0,1,0
20,Mon,08,Apr,2019,02:45:53,UTC,1554691553,7545,83,54429350_2116710268440423_3703544914017354038_...,...,18661.100000,2019-05-10 02:45:53,2,0,1,0,0,0,0,0
21,Sun,07,Apr,2019,22:48:04,UTC,1554677284,16293,76,56567408_508877049644751_3911514654825955174_n...,...,18701.800000,2019-05-10 22:48:04,22,0,0,0,1,0,0,0
22,Wed,03,Apr,2019,13:46:25,UTC,1554299185,16498,172,54277711_673132249784056_5167631713450986906_n...,...,18870.700000,2019-05-10 13:46:25,13,0,0,0,0,0,0,1
23,Tue,02,Apr,2019,13:50:39,UTC,1554213039,11054,82,54277399_165664434347771_3099592847805269530_n...,...,19222.700000,2019-05-10 13:50:39,13,0,0,0,0,0,1,0
24,Sun,31,Mar,2019,23:38:08,UTC,1554075488,30188,270,54800736_2152336691743034_345080188440821479_n...,...,20862.600000,2019-05-10 23:38:08,23,0,0,0,1,0,0,0
25,Sun,31,Mar,2019,16:17:20,UTC,1554049040,17531,112,52870303_568791970294444_1110695603867820673_n...,...,21714.000000,2019-05-10 16:17:20,16,0,0,0,1,0,0,0
26,Sat,30,Mar,2019,19:52:59,UTC,1553975579,29515,188,54514028_820842174945811_7946115122958175247_n...,...,20570.800000,2019-05-10 19:52:59,19,0,0,1,0,0,0,0
27,Sat,30,Mar,2019,13:43:12,UTC,1553953392,25278,188,54800574_129522074785402_4287795531044495572_n...,...,21120.800000,2019-05-10 13:43:12,13,0,0,1,0,0,0,0
28,Fri,29,Mar,2019,18:55:57,UTC,1553885757,12689,102,53762940_283969665831467_2709851693802126104_n...,...,21736.600000,2019-05-10 18:55:57,18,1,0,0,0,0,0,0
29,Tue,26,Mar,2019,17:34:59,UTC,1553621699,11237,106,54511729_411315866110901_1641340750542109128_n...,...,23576.200000,2019-05-10 17:34:59,17,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,Mon,31,Oct,2011,01:46:09,UTC,1320025569,39,5,11138031_1578892899066340_988492690_n.jpg,...,51.000000,2019-05-10 01:46:09,1,0,1,0,0,0,0,0
2320,Sat,29,Oct,2011,22:29:01,UTC,1319927341,17,1,11098633_880477928683059_662810774_n.jpg,...,55.100000,2019-05-10 22:29:01,22,0,0,1,0,0,0,0
2321,Sat,29,Oct,2011,18:41:10,UTC,1319913670,89,3,11184619_1568776780053294_1179379593_n.jpg,...,46.500000,2019-05-10 18:41:10,18,0,0,1,0,0,0,0
2322,Sat,29,Oct,2011,01:26:16,UTC,1319851576,262,27,11116979_370835869707923_75493128_n.jpg,...,21.300000,2019-05-10 01:26:16,1,0,0,1,0,0,0,0
2323,Thu,27,Oct,2011,22:51:02,UTC,1319755862,25,1,11184487_883344285037929_1072536421_n.jpg,...,20.400000,2019-05-10 22:51:02,22,0,0,0,0,1,0,0
2324,Wed,26,Oct,2011,15:52:49,UTC,1319644369,31,2,11137989_811066518979188_899033269_n.jpg,...,19.500000,2019-05-10 15:52:49,15,0,0,0,0,0,0,1
2325,Tue,25,Oct,2011,22:28:22,UTC,1319581702,18,0,11116722_101843403481500_1490360993_n.jpg,...,23.700000,2019-05-10 22:28:22,22,0,0,0,0,0,1,0
2326,Tue,25,Oct,2011,19:10:04,UTC,1319569804,15,0,10326365_1420896028226912_2124866824_n.jpg,...,22.900000,2019-05-10 19:10:04,19,0,0,0,0,0,1,0
2327,Tue,25,Oct,2011,15:38:46,UTC,1319557126,12,0,11142208_1032695593426454_1174688481_n.jpg,...,22.800000,2019-05-10 15:38:46,15,0,0,0,0,0,1,0
2328,Mon,24,Oct,2011,22:15:04,UTC,1319494504,17,2,11176021_1621937458040355_1330401633_n.jpg,...,23.200000,2019-05-10 22:15:04,22,0,1,0,0,0,0,0
2329,Mon,24,Oct,2011,17:46:36,UTC,1319478396,24,1,11138002_1435152340113609_715630830_n.jpg,...,22.800000,2019-05-10 17:46:36,17,0,1,0,0,0,0,0
2330,Sun,23,Oct,2011,20:14:02,UTC,1319400842,58,11,11186845_444113319084893_1216315668_n.jpg,...,19.900000,2019-05-10 20:14:02,20,0,0,0,1,0,0,0
2331,Sun,23,Oct,2011,01:49:16,UTC,1319334556,3,3,10665272_1436585519987249_391203021_n.jpg,...,25.700000,2019-05-10 01:49:16,1,0,0,0,1,0,0,0
2332,Fri,21,Oct,2011,12:32:43,UTC,1319200363,10,3,10431753_1428530137451678_1131170420_n.jpg,...,26.800000,2019-05-10 12:32:43,12,1,0,0,0,0,0,0
2333,Wed,19,Oct,2011,16:15:28,UTC,1319040928,16,1,11116596_471200033027590_1092481035_n.jpg,...,28.100000,2019-05-10 16:15:28,16,0,0,0,0,0,0,1
2334,Wed,19,Oct,2011,07:37:18,UTC,1319009838,22,1,11184658_820175781404231_66994641_n.jpg,...,27.200000,2019-05-10 07:37:18,7,0,0,0,0,0,0,1
2335,Tue,18,Oct,2011,21:00:40,UTC,1318971640,60,4,11142167_679540955507332_1328603223_n.jpg,...,24.800000,2019-05-10 21:00:40,21,0,0,0,0,0,1,0
2336,Tue,18,Oct,2011,16:17:35,UTC,1318954655,7,0,11184741_364467243742034_1209348506_n.jpg,...,26.200000,2019-05-10 16:17:35,16,0,0,0,0,0,1,0
2337,Sun,16,Oct,2011,04:57:09,UTC,1318741029,11,0,11176431_1408236776163874_1668585470_n.jpg,...,29.100000,2019-05-10 04:57:09,4,0,0,0,1,0,0,0
2338,Thu,13,Oct,2011,16:55:07,UTC,1318524907,21,1,11176610_880658912005413_1768883667_n.jpg,...,34.600000,2019-05-10 16:55:07,16,0,0,0,0,1,0,0
2339,Thu,13,Oct,2011,01:49:53,UTC,1318470593,20,2,11111538_472759336209408_864946583_n.jpg,...,36.222222,2019-05-10 01:49:53,1,0,0,0,0,1,0,0
2340,Tue,11,Oct,2011,16:23:27,UTC,1318350207,29,2,11176620_1428624024105610_426138382_n.jpg,...,37.125000,2019-05-10 16:23:27,16,0,0,0,0,0,1,0
2341,Mon,10,Oct,2011,00:24:50,UTC,1318206290,61,1,11098274_1573758866233002_184492919_n.jpg,...,33.714286,2019-05-10 00:24:50,0,0,1,0,0,0,0,0
2342,Sun,09,Oct,2011,20:52:46,UTC,1318193566,21,0,11117137_936484256395649_519047141_n.jpg,...,35.833333,2019-05-10 20:52:46,20,0,0,0,1,0,0,0
2343,Wed,05,Oct,2011,20:41:52,UTC,1317847312,29,2,11123652_1599778076903820_1560819401_n.jpg,...,37.200000,2019-05-10 20:41:52,20,0,0,0,0,0,0,1
2344,Wed,05,Oct,2011,20:40:07,UTC,1317847207,13,0,11142164_686772348099443_2051006174_n.jpg,...,43.250000,2019-05-10 20:40:07,20,0,0,0,0,0,0,1
2345,Thu,29,Sep,2011,15:45:54,UTC,1317311154,36,2,11111392_414380112077048_426913630_n.jpg,...,45.666667,2019-05-10 15:45:54,15,0,0,0,0,1,0,0
2346,Thu,29,Sep,2011,15:40:33,UTC,1317310833,21,1,10898951_1388415701484443_53455441_n.jpg,...,58.000000,2019-05-10 15:40:33,15,0,0,0,0,1,0,0
2347,Tue,27,Sep,2011,01:29:41,UTC,1317086981,40,0,11184569_1633683003530595_491918502_n.jpg,...,76.000000,2019-05-10 01:29:41,1,0,0,0,0,0,1,0
2348,Mon,26,Sep,2011,18:41:04,UTC,1317062464,76,6,11123887_827890997281353_2058860764_n.jpg,...,0.000000,2019-05-10 18:41:04,18,0,1,0,0,0,0,0

In [31]:
X = new_AB_df.drop(['DOW', 'day', 'month', 'year', 'time', 'timezone', 'num_comments', 'name', 'num_likes', 'objects', 'datetime'], axis=1)
print(X.columns)

Index(['epoch', 'is_person', 'is_bicycle', 'is_car', 'is_motorcycle',
       'is_airplane', 'is_bus', 'is_train', 'is_truck', 'is_boat',
       ...
       'is_toothbrush', 'previous_likes', 'hour', 'Fri', 'Mon', 'Sat', 'Sun',
       'Thu', 'Tue', 'Wed'],
      dtype='object', length=102)

In [32]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
Y = new_AB_df.loc[:, 'num_likes']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, shuffle = True, random_state=100)
LinearRegressionModel = linear_model.LinearRegression() 
LinearRegressionModel.fit(x_train, y_train)
print("Training: ", LinearRegressionModel.score(x_train, y_train))
print("Testing: ", LinearRegressionModel.score(x_test, y_test))

Training:  0.7820111275239265
Testing:  0.7455573153241858